In [ ]:
import pandas as pd
import json
import requests
import os

In [ ]:
NationalWeather = pd.read_csv("/content/NationalWeather.csv")
TotalNationalPark = pd.read_csv("/content/Total_National_Park_Visitor_Spending.csv")

Need to make the name column in NationalWeather to the park unit column in Total_National_Park_Visitor_Spending

In [ ]:
WeatherPark = NationalWeather.Name.unique()
NationalPark = TotalNationalPark["Park Unit"].unique()

In [ ]:
pd.set_option('display.max_colwidth', None)

WeatherPark
# NationalPark

In [ ]:
pd.set_option('display.max_colwidth', None)
NationalPark

In [ ]:
# replaced = ["NHP","NM",'NP',"NHS","NM&PRES","NP&PRES","NB","NL","NMEM","NS","NPRES","NRRA","NRA","PKWY","NSR","NR", "P","NRES","NM&SHRINE","MEM","MEM PKWY","NMP","NBP","IHS","EHP","NHP&EP","NSR&NRR","W&SR","a","b","c","a,b","a,b,c"]
# replacing=["National Historical Park","National Monument","National Park","National Historic Site","National Monument & Preserve","National Park & Preserve","National Battlefield","National Lakeshore","National Memorial","National Seashore","National Preserve","National River & Recreation Area","National Recreation Area","Parkway","National Scenic River","National River", "Park","National Reserve","National Monument and Historic Shrine","Memorial","Memorial Parkway","National Military Park","National Battlefield Park","International Historic Site","National Historical Park and Ecological Preserve","National Historical Park and Ecological Preserve","National Scenic River & National Recreational River","Wild & Scenic River"," a"," b"," c","a,b","a,b,c"]
# TotalNationalPark["Park Unit"].replace(replaced, replacing, inplace = True)

In [ ]:
TotalNationalPark.query('(Year == 2019)').head(40)

In [ ]:
TotalNationalPark = pd.read_csv("/content/Total_National_Park_Visitor_Spending.csv")

In [ ]:
patterns = ["*","!" ,r" a,b,c$", r" a,b$",r"(?<=\w) a$","a$",r"(?<=\w) b$","b$",r"(?<=\w) c$","(?<!Pacifi)c$",r"(?<=\w) X$","X$",r"(?<=\w) NPRES",r"&",r"(?<!\w)[(?!&), ]P(?!\w)",
            r"(?<=\w) EP",r"(?<=\w) NHP",r"(?<=\w) NMEM",r"(?<=\w) NM(?=\s|$)",r'(?<=\w) NP',r"(?<=\w) NHS",r"(?<=\w) PRES",r"(?<=\w) NB",r"(?<=\w) NL", r"(?<=\w) NS$",r"(?<=\w) NRRA",
            r"(?<=\w) NRA",r"(?<=\w) PKWY",r"(?<=\w) NSR",r"(?<=\w) NR$",r"(?<=\w) NRES",r"(?<=\w) NM&SHRINE",r"(?<=\w) MEM",r"(?<=\w) MEM PKWY",r"(?<=\w) NMP",
            r"(?<=\w) NBP",r"(?<=\w) IHS",r"(?<=\w) EHP",r"(?<=\w) NHP&EP",r"(?<=\w) NSR&NRR",r"(?<=\w) W&SR","a,$",r"(?<=Park)a$",r"P$",r"\s{1,2}$",r"\s{2}"]
replacement_values=["","","","","","","","","","","",""," National Preserve"," and "," Park"," Ecological Preserve"," National Historical Park"," National Memorial"," National Monument",
                    " National Park"," National Historic Site"," Preserve"," National Battlefield"," National Lakeshore"," National Seashore"," National River and Recreation Area",
                    " National Recreation Area"," Parkway"," National Scenic River"," National River", " National Reserve"," National Monument and Historic Shrine"," Memorial",
                    " Memorial Parkway"," National Military Park"," National Battlefield Park"," International Historic Site"," National Historical Park and Ecological Preserve",
                    " National Historical Park and Ecological Preserve"," National Scenic River and National Recreational River"," Wild and Scenic River","",""," Park",""," "]


for pattern, replacement in zip(patterns, replacement_values):
    TotalNationalPark["Park Unit"] = TotalNationalPark["Park Unit"].str.replace(pattern, replacement)


# TotalNationalPark["Park Unit"].replace(replaced, replacing
TotalNationalPark
# TotalNationalPark.tail(50)

<ipython-input-22-61e0045dbac0>:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  TotalNationalPark["Park Unit"] = TotalNationalPark["Park Unit"].str.replace(pattern, replacement)
<ipython-input-22-61e0045dbac0>:13: FutureWarning: The default value of regex will change from True to False in a future version.
  TotalNationalPark["Park Unit"] = TotalNationalPark["Park Unit"].str.replace(pattern, replacement)

,Park Unit,Total Recreation Visits,Total Visitor Spending,Jobs,Labor Income,Value Added,Economic Output,Year
0,Abraham Lincoln Birthplace National Historical Park,"169,515","$9,121.80",137,"$3,942.90","$6,781.60","$11,529.90",2012
1,Acadia National Park,"2,431,052","$200,920.00","3,089","$92,344.30","$152,518.70","$264,000.60",2012
2,Adams National Historical Park,"336,031","$18,082.20",244,"$9,443.30","$15,317.30","$23,901.90",2012
3,African Burial Ground National Monument,"77,624","$4,177.00",48,"$2,268.10","$3,670.30","$5,365.30",2012
4,Agate Fossil Beds National Monument,"11,824",$798.90,10,$216.10,$405.00,$770.80,2012
...,...,...,...,...,...,...,...,...
4169,Wupatki National Monument,"194,448","$14,153",170,"$5,726","$9,504","$16,660",2022
4170,Yellowstone National Park,"3,290,242","$452,025","6,234","$210,832","$327,536","$599,600",2022
4171,Yosemite National Park,"3,667,550","$497,552","6,314","$243,403","$398,697","$683,739",2022
4172,Yukon - Charley Rivers National Preserve,744,"$1,074",15,$589,$952,"$1,621",2022
4173,Zion National Park,"4,692,417","$672,427","10,777","$277,900","$492,714","$961,270",2022

In [ ]:
NationalWeather.drop("Unnamed: 0", axis=1, inplace=True)
combined_df = pd.merge(TotalNationalPark, NationalWeather, left_on=['Park Unit',"Year"], right_on=['Name',"year"], how='inner')
pd.set_option('display.max_colwidth', None)

# combined_df.columns
combined_df.drop(["Unnamed: 0.1","Name","Year","yearMonth"], axis=1, inplace=True)

In [ ]:
combined_df.shape
# combined_df.columns

(43823, 25)

In [ ]:
combined_df.to_csv(f"NationalParksWeatherAndSpending.csv",index=False)

In [ ]:
combined_df["Park Unit"].value_counts()

Abraham Lincoln Birthplace National Historical Park    1573
Monocacy National Battlefield                          1573
Muir Woods National Monument                           1573
Mount Rushmore National Memorial                       1573
Mount Rainier National Park                            1573
                                                       ...
National Park of American Samoa                         143
Pearl Harbor National Memorial                          143
Wolf Trap National Park for the Performing Arts         143
Arlington House, The Robert E. Lee Memorial             143
Reconstruction Era National Historical Park             143
Name: Park Unit, Length: 308, dtype: int64

In [ ]:
# TotalNationalPark
NationalWeather
NationalWeather["Name"] = NationalWeather["Name"].str.replace("&", "and")

In [ ]:
result = pd.merge(TotalNationalPark, NationalWeather, left_on='Park Unit', right_on='Name', how='left', indicator=True)

df = result.loc[result['_merge'] == 'left_only','Park Unit']
# df = df3.loc[df3['_merge'] == 'left_only', 'city']
# d = df1[df1['city'].isin(df)]
d = TotalNationalPark[TotalNationalPark['Park Unit'].isin(df)]

# result
# d

In [ ]:
new = d["Park Unit"].unique()

pd.set_option('display.max_colwidth', None)
print(new.size)
new

99

array(['Acadia National Park',
       'Arlington House, The Robert E. Lee\rMemorial National Memorial',
       'Biscayne National Park',
       'Brown V Board Of Education National Historic Site',
       'Canyon De Chelly National Monument',
       'Castillo De San Marcos National Monument',
       'Dry Tortugas National Park',
       "Ford's Theatre National Historic Site",
       'Fort Caroline National Memorial',
       'Fort McHenry National Monument and SHRINE',
       'Fort Sumter National Monument', 'Fort Washington Park',
       'Fredericksburg and Spotsylvania National Military Park',
       'George Washington Memorial Parkway',
       'Golden Spike National Historic Site',
       'Gulf Islands National Seashore', 'Haleakala National Park',
       'Hawaii Volcanoes National Park', 'Homestead National Monument',
       'Indiana Dunes National Lakeshore',
       'Jean Lafitte National Park and Preserve', 'Jefferson NEM',
       'Jimmy Carter National Historic Site',
       'John D Rockefeller Jr Memorial Parkway',
       'John F Kennedy National Historic Site',
       'Kaloko-Honokohau National Historical Park',
       'Kings Canyon National Park',
       'Klondike Gold Rush National Historical Park Alask',
       'Klondike Gold Rush National Historical Park Washington',
       'Lake Chelan National Recreation Area',
       'Longfellow National Historic Site',
       'Lyndon Baines Johnson Memorial Grove on the Potomac National Memorial',
       'Martin Luther King Jr National Historic Site',
       'Martin Luther King, Jr. MEM',
       'Mississippi National River and Recreation Area', 'Missouri NRR',
       'National Capital Parks Central', 'National Capital Parks East',
       'National Park of American Samo', 'New River Gorge National River',
       'Obed W and SR', 'Ocmulgee National Monument',
       'Oregon Caves National Monument', 'Ozark National Scenic River',
       'Pennsylvania Avenue National Historic Site',
       "Perry's Victory and Intl. Peace Memorial", 'Piscataway Park',
       "President's Park",
       'Pu`uhonua O Honaunau National Historical Park',
       'Puukohola Heiau National Historic Site', 'Redwood National Park',
       'Rio Grande W and SR', 'River Raisin National Battlefield',
       'Roger Williams National Memorial',
       'Ross Lake National Recreation Area',
       'Saint Croix National Scenic River',
       'Saint-Gaudens National Historic Site', 'Sequoia National Park',
       'Statue Of Liberty National Monument',
       'Theodore Roosevelt Island Park',
       'Thomas Jefferson National Memorial',
       'Timucuan National Historical Park and Ecological Preserve',
       'Tumacácori National Historical Park',
       'Upper Delaware National Scenic River and NRR',
       'Washington Monument', 'Weir Farm National Historic Site',
       'White House', 'White Sands National Monument',
       'World War II Valor in the Pacific National Monument',
       'Cesar E. Chavez National Monument',
       'Klondike Gold Rush AK National Historical Park',
       'Klondike Gold Rush WA National Historical Park',
       'Arlington House, The Robert E.\rLee Memorial National Memorial',
       'Manhattan Project (New Mexico) NH Park',
       'Manhattan Project (Washington) NH Park',
       'Manhattan Project (Tennessee) NH Park', 'Minidoka (Idaho) NHS',
       'Minidoka (Washington) NHS',
       'Arlington House, The Robert E. Lee\nMemorial National Memorial',
       'Canaveral NS', 'Cape Cod NS',
       'Tumacacori National Historical Park', 'Washington Monument (X)',
       'Marsh – Billings – Rockefeller National Historical Park',
       'Wrangell – St Elias National Park and Preserve',
       'Yukon – Charley Rivers National Preserve',
       'Arlington House, The Robert E. Lee Memorial National Memorial',
       'Black Canyon of the Gunnison National Park',
       'Brown V Board of Education National Historic Site',
       'City of Rocks National Reserve',
       'Craters of the Moon National Monument and Preserve',
       'Gates of the Arctic National Park and Preserve',
       'Home of Franklin D Roosevelt National Historic Site',
       'Statue of Liberty National Monument',
       'War in The Pacific National Historical Park', 'Alagnak WR',
       'World War I Memorial', 'World War II M',
       'Yukon - Charley Rivers National Preserveb'], dtype=object)

In [ ]:
# patterns = ["NHP","NM",'NP',"NHS","NM&PRES","NP&PRES","NB","NL","NMEM","NS","NPRES","NRRA","NRA","PKWY","NSR","NR", "P","NRES","NM&SHRINE","MEM","MEM PKWY","NMP","NBP","IHS","EHP","NHP&EP","NSR&NRR","W&SR","a","b","c","a,b","a,b,c"]

# results_df = pd.DataFrame()

# # Iterate over the list of patterns and search for each pattern
# for pattern in patterns:
#     result = TotalNationalPark[TotalNationalPark["Park Unit"].str.contains(pattern, regex=True)]
#     results_df = pd.concat([results_df, result])

In [ ]:
results_df

NameError: ignored

In [ ]:
park = pd.read_csv("/content/CleanedNationalParksSpendingWeather.csv")
annual = pd.read_csv("/content/AnnualWeather.csv")
parkSize = pd.read_csv("/content/ParkSize.csv")
# pd.merge(df1, df2, on='ID')
w = pd.merge(park,annual,on=["Name", "year"])
weather = pd.merge(w, parkSize, on=["Name"])

In [ ]:
this = weather[weather["Area"].isna()]
this.Name.unique()
# this["Name"].unique()
this
weather.columns

Index(['Jobs', 'latitude', 'longitude', 'city', 'postal', 'year', 'month',
       'elevation', 'Name', 'Total_Recreation_Visits',
       'Total_Visitor_Spending', 'Labor_Income', 'Value_Added',
       'Economic_Output', 'Temp', 'Windspeed', 'dew_point',
       'adiabatic_saturation', 'soil_moisture', 'max_air_temp', 'min_air_temp',
       'max_windspeed', 'min_windspeed', 'total_precip', 'h_i_rad_intensity',
       'Temp_13', 'Windspeed_13', 'dew_point_13', 'adiabatic_saturation_13',
       'soil_moisture_13', 'max_air_temp_13', 'min_air_temp_13',
       'max_windspeed_13', 'min_windspeed_13', 'total_precip_13',
       'h_i_rad_intensity_13', 'Location', 'Area'],
      dtype='object')

In [ ]:
weather.to_csv("CompletedParks.csv",index=False)